﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")

<body>
    <div class="container-xxl bg-white p-0">

        @await Component.InvokeAsync("_SpinnerComponentPartial")

        @await Component.InvokeAsync("_NavbarComponentPartial")

        @await Component.InvokeAsync("_SliderComponentPartial")

        @*@await Component.InvokeAsync("_ReservationComponentPartial")*@

        @await Component.InvokeAsync("_AboutUsComponentPartial")

        @await Component.InvokeAsync("_OurRoomComponentPartial")

        @await Component.InvokeAsync("_TrailerComponentPartial")

        @await Component.InvokeAsync("_ServiceComponentPartial")

        @await Component.InvokeAsync("_TestimonialComponentPartial")

        @await Component.InvokeAsync("_TeamComponentPartial")

        @await Html.PartialAsync("_SubscribePartial")

        @await Component.InvokeAsync("_FooterComponentPartial")

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @await Component.InvokeAsync("_ScriptsComponentPartial")
</body>
</html>